---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title }}</h1>
    <div class="post__details">
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | readableDate }}
      </time>
      <span> | </span>
      <span>{{ content | readingTime }} read</span>
    </div>
  </header>

  <main class="post__content">
    {{ content | safe }}
  </main>

  <aside class="post__aside">
    <div class="post__tags">
      {% for tag in tags | pageTags %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}">#{{ tag }}</a>
      {% endfor %}
    </div>

    <nav class="post__pagination">
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- if nextPost %}

        <a href="{{ nextPost.url | url }}">
          <span>←</span>
          <span>{{ nextPost.data.title }}</span>
        </a>

      {% endif %}

      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if previousPost %}

        <a href="{{ previousPost.url | url }}">
          <span>{{ previousPost.data.title }}</span>
          <span>→</span>
        </a>

      {% endif %}
    </nav>
  </aside>

</article>
<script src="https://giscus.app/client.js"
        data-repo="Jamsgrove/blog.jammykins"
        data-repo-id="R_kgDOHZ6IbQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOHZ6Ibc4CPWgh"
        data-mapping="pathname"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
<p style="font-size: smaller;">Comments use <a href="https://giscus.app/" target="_blank" rel="noopener">Giscus</a> and are created as a discussion on GitHub, so you could <a href="https://github.com/Jamsgrove/blog.jammykins/discussions" target="_blank" rel="noopener">comment there</a> as well.</p>
